@*Все объекты ChatUser  *@

@using Portal.DAL.Entities;
@model List<ChatUser>


<div class="container">
    <h1 class=" text-center">Список связей чат-пользователь</h1>
    <div class="row">


        <table class="cinereousTable">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>ID чата</th>
                    <th>Id пользователя</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ChatUser chatUser in Model)
                {
                    <tr>
                        <td>@chatUser.Id</td>
                        <td>@chatUser.ChatId</td>
                        <td>@chatUser.UserId</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>