<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portal.Web</title>
    <link rel="stylesheet" href="~/user/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/user/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/user/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/user/css/main.css" />

    <base href="/" />

    <meta name="description" content="Описание сайта" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Изображение, которое будет отображаться когда делятся ссылкой на сайт -->
    <meta property="og:image" content="img/MainImage.jpg" />
    <link rel="icon" href="img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png" />


    <meta name="theme-color" content="#202222" />

</head>