<!DOCTYPE html>
<html lang="ru">
@await Html.PartialAsync("_Head")
<body>

    @await Component.InvokeAsync("_TopMenu")


    <main role="main"> @RenderBody() </main>


    @await Html.PartialAsync("_Footer")
    @await Html.PartialAsync("_Scripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
