<!DOCTYPE html>
<html lang="ru">

@await Html.PartialAsync("_Head")

<body>
    @await Component.InvokeAsync("_TopMenu")


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_Footer")


    @await Html.PartialAsync("_Scripts")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
