@using Portal.DAL.Entities;
@model IEnumerable<Portal.DAL.Entities.Post>

@*5 последних постов справа в кололке*@
<body>

    <section class="hero">
        <div class="container">
            <div class="row no-gutters">
                @foreach (Post lastPost in Model)
                {
                    string Ago = "";
                    int timeAgo = Convert.ToInt32((DateTime.Now - lastPost.CreatedAt).TotalHours.ToString("F0"));
                    int daysAgo = Convert.ToInt32((DateTime.Now - lastPost.CreatedAt).TotalDays.ToString("F0"));
                    Ago = timeAgo < 36 ? timeAgo.ToString() + " ч назад" : daysAgo.ToString() + " д назад";


                    <div class="pattern my-1" style="padding:0;">
                        <div class="overlay oversmall" style="background-image: url('/img/uploads/Posts/@lastPost.Content.PostImage')">
                            <div class="item-title-content">
                                <h5 style="text-align: center; position: relative; top:-80px;">
                                    <a href="/posts/@lastPost.Slug">@lastPost.Content.Title</a>
                                </h5>

                                <div class="item-social">
                                    <a href="/posts/@lastPost.Slug#comments" class="item-comments" style="position: absolute; bottom: 5px; left: 5px;">
                                        <i class="fa-solid fa-comments"></i>
                                        <p class="item-comments-count"> @lastPost.Content.CommentsNum</p>
                                    </a>

                                    <div class="item-comments" style="position: absolute; bottom: 5px; right: 5px;">
                                        <span class="item-comments-count"> @Ago </span>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                }





            </div>
        </div>
    </section>
</body>