@using Portal.DAL.Entities;
@model IEnumerable<Post>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2><a href="/category/">Обзоры</a></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="col-dark">
                <a href="#">
                    <img src="img/blog/reviews/10.jpg"
                         alt="Новый смартфон с функцией настольного пылесоса всколыхнул сообщества гиков по всему миру"
                         class="img-responsive img-width overlay"
                         title="Новый смартфон с функцией настольного пылесоса всколыхнул сообщества гиков по всему миру" />
                </a>
                <div class="col-item-meta">
                    <div class="item-comments" title="Количество комментариев">
                        <span class="date">25/12/2023</span>
                        <i class="fa-solid fa-comments"></i><a href="#comments_thread"
                                                               class="item-comments-count">26</a>
                    </div>
                </div>
                <h4>
                    <a href="#">
                        Новый смартфон с функцией настольного пылесоса всколыхнул
                        сообщества гиков по всему миру
                    </a>
                </h4>
            </div>
        </div>

       

    </div>

</div>