@using Portal.DAL.Entities;
@model List<Portal.DAL.Entities.PostCategory>

@*Первые три поста категории*@
<div class="cat-list-first">
    <div class="container">
        <section class="type-one type-one-cat">
            <div class="row">

                <div class="col-md-8">
                    @{

                        // 1. Пост посередине
                        Post? firstPost = Model?.FirstOrDefault()?.Post;
                        string Ago = "";
                        int timeAgo = Convert.ToInt32((DateTime.Now - firstPost?.CreatedAt)?.TotalHours.ToString("F0"));
                        int daysAgo = Convert.ToInt32((DateTime.Now - firstPost?.CreatedAt)?.TotalDays.ToString("F0"));
                        Ago = timeAgo < 36 ? timeAgo.ToString() + " ч назад" : daysAgo.ToString() + " д назад";


                        <div class="type-one-first">
                            <a href="/posts/@firstPost?.Slug" title="@firstPost?.Content?.Title">
                                <div class="item-title" style="background-image: url('/img/uploads/Posts/@firstPost?.Content?.PostImage'); background-size: cover; background-position: center;"></div>
                            </a>

                            <div class="item-social">
                                <div class="item-comments" title="Количество комментариев">
                                    <i class="fa-solid fa-comment"></i><a class="item-comments-count" href="#"> @firstPost?.Comments.Count()</a>
                                    <span class="date">@firstPost?.CreatedAt.ToString("dd/MM/yyyy") (@Ago)</span>
                                </div>
                            </div>
                            <h3><a href="/posts/@firstPost?.Slug">@firstPost?.Content.Title</a></h3>
                        </div>
                    }
                </div>


                <div class="col-md-4 item-title-white">
                    @{
                        // 2. 2 поста справа
                        IEnumerable<PostCategory> postCats = Model.Take(3).Skip(1);
                        @foreach (PostCategory postCat in postCats)
                        {
                            timeAgo = Convert.ToInt32((DateTime.Now - postCat.Post.CreatedAt).TotalHours.ToString("F0"));
                            daysAgo = Convert.ToInt32((DateTime.Now - postCat.Post.CreatedAt).TotalDays.ToString("F0"));
                            Ago = timeAgo < 36 ? timeAgo.ToString() + " ч назад" : daysAgo.ToString() + " д назад";

                            <div class="pattern">
                                <div class="overlay item-title" style="background-image: url('/img/uploads/Posts/@postCat.Post.Content.PostImage')">
                                    <div class="item-title-content">
                                        <h3><a href="/posts/@postCat.Post.Slug">@postCat.Post.Content.Title</a></h3>
                                        <div class="item-social">
                                            <div class="item-comments" title="Количество комментариев">
                                                <i class="fa-solid fa-comment"></i><a class="item-comments-count" href="#"> @postCat.Post.Content.CommentsNum</a>
                                                <span class="date">@postCat.Post.CreatedAt.ToString("dd/MM/yyyy") (@Ago)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </section>
    </div>
</div>