@using Portal.DAL.Entities;
@model List<Portal.DAL.Entities.Post>

@*5 последних постов справа в кололке*@
<body>

    <section class="hero">
        <div class="container">
            <div class="row no-gutters">

                    @foreach (Post lastPost in Model)
                    {
                                <div class="pattern my-1">
                                    <div class="overlay" style="background-image: url('/img/uploads/Posts/@lastPost.Content.PostImage')">
                                        <div class="item-title-content">
                                            <h3><a href="/posts/@lastPost.Slug">@lastPost.Content.Title</a></h3>

                                            <div class="item-social">

                                                <div class="item-comments">
                                                    <i class="fa-solid fa-comments"></i>
                                                    <a href="#" class="item-comments-count"> @lastPost.Comments.Count()</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                    }

            </div>
        </div>
    </section>
</body>