@model LoginViewModel

@{
    ViewData["Title"] = "Регистрация";
}

<h1>Регистрация</h1>

<hr />
<div class="wrapper-login">
    <div class="container">

        <div class="row">
            <div class="col-md-4 mx-auto text-center">


                <form asp-action="Register" enctype="multipart/form-data">
                    <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                       <label class="label" asp-for="Login" class="control-label"></label>
                       <input class="input" asp-for="Login" type="text" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                       <label class="label" asp-for="Password" class="control-label"></label>
                       <input class="input" asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                       <label class="label" asp-for="PasswordConfirm" class="control-label"></label>
                       <input class="input" asp-for="PasswordConfirm" type="password" class="form-control" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                       <label class="label" asp-for="Email" class="control-label"></label>
                       <input class="input" asp-for="Email" type="email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                       <label class="label" asp-for="Firstname" class="control-label"></label>
                       <input class="input" asp-for="Firstname" type="text" class="form-control" />
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                       <label class="label" asp-for="Lastname" class="control-label"></label>
                       <input class="input" asp-for="Lastname" type="text" class="form-control" />
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="label" asp-for="Birthday" class="control-label"></label>
                        <input class="input" asp-for="Birthday" type="datetime" class="form-control" />
                        <span asp-validation-for="Birthday" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                       <label class="label" asp-for="AvatarFile" class="control-label"></label>
                       <input class="input" asp-for="AvatarFile" type="file" accept="image/*" class="form-control" />
                        <span asp-validation-for="AvatarFile" class="text-danger"></span>
                    </div>

                   

                   <input class="input" type="hidden" asp-for="RegistrationDate" value="@DateTime.Now" class="form-control" />

                    <div class="form-group">
                        <button class="button" type="submit">Регистрация</button>
                    </div>
                    <br />
                    Есть аккаунт?
                    <a class="btn btn-success" asp-action="Login" asp-controller="Account">Войдите</a>

                </form>
            </div>

        </div>
    </div>


</div>

 
<style>
    .wrapper-login {
        min-height: 30vh;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .input {
        display: block;
        width: 100%;
        padding: 10px 20px;
        border-radius: 3px;
        background: #fff;
    }

    .label {
        font-size: .9em;
        color: #747474;
    }

    .button {
        margin-top: 25px;
        width: 100%;
    }

</style>