@using Portal.DAL.Entities;
@model List<Portal.DAL.Entities.PostCategory>
@{
    ViewBag.Title = Model?.FirstOrDefault()?.Category?.Name;
}


<div class="pattern pattern-cat-header">
    <div class="cat-header " style="background-image: url('/img/uploads/Categories/@Model?.FirstOrDefault()?.Category?.CategoryImage')">

        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="cat-header-block" style="height:320px">
                        <h1>@Model.FirstOrDefault()?.Category?.Name </h1>
                        <p>@Model.FirstOrDefault()?.Category?.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Первые три поста категории*@
@await Component.InvokeAsync("_ThreeCategoryPosts", new {categorySlug = Model?.FirstOrDefault()?.Category.Slug});


@*7 постов из этой категории*@
@await Component.InvokeAsync("_NextSevenPostsOfCat", new {categorySlug = Model?.FirstOrDefault()?.Category.Slug});


@*5 последних постов внизу (любые категории)*@
@await Component.InvokeAsync("_FiveLastPosts")

