<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/user/lib/fontAwesome/css/fAwesome.min.css" rel="stylesheet" type="text/css">                @*Font Awesome*@
    <link href="~/user/lib/datatables//dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">       @*Бутстрап4*@

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/default.min.css" />  @*Поле для редактирования текста поста*@
    <link href="~/admin/css/sb-admin-2.min.css" rel="stylesheet" type="text/css">                             @*Панель администратора*@



</head>