 <!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Portal Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Главная</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Heading -->
    <div class="sidebar-heading">
        Контент
    </div>





    <li class="nav-item">
        <a class="nav-link" asp-controller="Categories" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Категории</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Comments" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Комментарии</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="MenuItems" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Пункты Меню</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Menus" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Меню</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Posts" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Посты</span>
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link" asp-controller="PostContents" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>ПостКонтент</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Roles" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Роли</span>
        </a>
    </li>



    <li class="nav-item">
        <a class="nav-link" asp-controller="Users" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Пользователи</span>
        </a>
    </li>




    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->