<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center flex-column my-1" asp-area="Admin" asp-controller="" asp-action="">
        <span style="color: cyan; font-size: 16px;">Админка</span>
        <span class="sidebar-brand-text" style="font-size: 10px;">Главная</span>
    </a>


    <hr class="sidebar-divider my-0">

    <a class="sidebar-brand d-flex align-items-center justify-content-center flex-column my-1" asp-area="" asp-controller="Home" asp-action="Index">
        <span style="color:cyan; font-size:16px;">Сайт</span>
        <span class="sidebar-brand-text" style="font-size:10px;">Главная </span>
    </a>



    <hr class="sidebar-divider my-2">

    <div class="sidebar-heading text-center" style="font-size: 12px;"> Контент </div>



    <li class="nav-item">
        <a class="nav-link" asp-controller="Categories" asp-action="Index">
            <i class="fa-solid fa-gear"></i>
            <span>Категории</span>
        </a>
    </li>



    <li class="nav-item">
        <a class="nav-link" asp-controller="Posts" asp-action="Index">
            <i class="fa-solid fa-gear"></i>
            <span>Посты</span>
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link" asp-controller="Comments" asp-action="Index">
            <i class="fa-solid fa-gear"></i>
            <span>Комментарии</span>
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link" asp-controller="Menus" asp-action="Index">
            <i class="fa-solid fa-gear"></i>
            <span>Меню</span>
        </a>
    </li>




    <hr class="sidebar-divider my-2">
    <div class="sidebar-heading text-center" style="font-size: 12px;"> Доступ </div>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Roles" asp-action="Index">
            <i class="fa-solid fa-gear"></i>
            <span>Роли</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Users" asp-action="Index">
            <i class="fa-solid fa-gear"></i>
            <span>Пользователи</span>
        </a>
    </li>





    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->